@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  /* ### Primary */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* ### Neutral */
  --transparent-white: hsla(0, 0%, 100%, 0.75); /* (paragraphs) */
  --very-light-gray: hsl(0, 0%, 95%); /* (background, headings, buttons) */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  background-color: var(--very-light-gray);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
}

.container article:first-child {
  border-radius: 10px 10px 0 0;
}

.container article:last-child {
  border-radius: 0 0 10px 10px;
}

.model__icon {
  margin-top: 40px;
  margin-left: 20px;
}

.model__title {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-size: 2rem;
  color: var(--very-light-gray);
  margin-top: 20px;
  margin-left: 20px;
}

.model__detail {
  margin-top: 20px;
  margin-left: 20px;
  color: var(--transparent-white);
  font-family: "Lexend Deca", sans-serif;
}

.model__sendan {
  background-color: var(--bright-orange);
}

.model__suv {
  background-color: var(--dark-cyan);
}

.model__luxury {
  background-color: var(--very-dark-cyan);
}

.btn {
  font-family: "Lexend Deca", sans-serif;
  border: none;
  background-color: var(--very-light-gray);
  border: var(--very-light-gray) solid;
  padding: 1.2rem;
  border-radius: 50px;
  margin: 20px 0 40px 20px;
  cursor: pointer;
}

.model__sendan .btn {
  color: var(--bright-orange);
}

.model__suv .btn {
  color: var(--dark-cyan);
}

.model__luxury .btn {
  color: var(--very-dark-cyan);
}

.btn:hover {
  background-color: transparent;
  transition: 0.2s ease-in-out;
  color: var(--transparent-white);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
  }

  .model__detail {
    margin-right: 15px;
  }

  .container article:first-child {
    border-radius: 10px 0 0 10px;
  }

  .container article:last-child {
    border-radius: 0 10px 10px 0;
  }

  .btn {
    margin-top: 50px;
    padding: 0.7rem 1.7rem;
  }
}
